html {
  overflow-y: scroll;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}

footer {
  background: #222;
  color: #aaa;
  padding-top: 10px;
  display: table-row;
  height: 0;
}

footer .copyright {
  padding: 15px 0;
  background: #333;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: rgb(255, 140, 0);
}

.max-width {
  width: 100%
}

.container-header h1 {
  font-family: "Roboto", serif;
  font-size: 48px;
  font-weight: 700;
  color: white;
}

td {
  white-space:nowrap;
}

#response-card {
  visibility: hidden;
}

.body-container {
  background-repeat: no-repeat;
  background-size: contain;
}

.body-card {
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #F3F5F8;
  border-width: 2px;
  border-radius: 7px;
  margin-bottom: 20px;
}

.orange-button {
  background-image: linear-gradient(orange, rgb(255, 140, 0));
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
}

#generate {
  margin: auto;
}

.btn_remove {
  background-image: linear-gradient(rgb(255, 0, 0), rgb(230, 0, 0));
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
}
